/*  import fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&family=Poppins:wght@400;500&display=swap');
/* reset css */
:root {
  /* primary  colors */
  --color-moderate-violet: hsl(263, 55%, 52%);
  --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-very-dark-blackish-blue: hsl(219, 29%, 14%);
  --color-white: hsl(0, 0%, 100%);
  /* Neutral  colors */
  /*
Note for text colors:

"Verified Graduate" has the same color as the person's name with 50% opacity
Review paragraphs inside the quotations have the same color as well, but are at 70% opacity */
  --color-light-gray: hsl(0, 0%, 81%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
  /* Typography */
  --font-primary-1: 'Barlow Semi Condensed', sans-serif;
  /* others */
  --padding-med: 1rem;
  --gap-med-x: 2rem;
  --border-radius: 7px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 13px;
  font-family: var(--font-primary-1, sans-serif);
  /* Family: Barlow Semi Condensed
Weights: 500, 600 */
  line-height: 1.4;
  background-color: var(--color-light-grayish-blue, gray);
  color: var(--color-white);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
/* === common classes === */
.border-violet {
  border: solid 3px var(--color-moderate-violet);
  outline: solid 1px white;
  /* border-color: ; */
}
/* @media */
@media (722px <= width < 1200px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    /* dense? */
  }
}
@media (width > 1200px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
    /* dense? */
  }
  .card:nth-child(1) {
    grid-column: span 2;
  }
  .card:nth-child(4) {
    grid-column: span 2;
  }
  .card:nth-child(5) {
    grid-column: 4 / 5;
    grid-row: 1 / span 2;
  }
}

/* === classes === */
.app {
  max-width: 72vw;
  min-height: 100vh;
  padding-block: 4rem;
  margin: auto;
  isolation: isolate;
  display: grid;
  place-items: center;
}

.cards-container {
  display: grid;
  gap: var(--gap-med-x);
}
.card {
  padding: var(--gap-med-x);
  border-radius: var(--border-radius);
  isolation: isolate;
}
.card:nth-child(1):before {
  position: absolute;
  content: url(./images/bg-pattern-quotation.svg);
  z-index: -99;
  right: 15%;
  top: 2%;
  transform: scale(1.1);
}
.card:nth-child(1) {
  position: relative;
  background-color: var(--color-moderate-violet, violet);
}
.card:nth-child(2) {
  background-color: var(--color-very-dark-grayish-blue, gray);
}
.card:nth-child(3) {
  background-color: var(--color-white, white);
  color: var(--color-very-dark-grayish-blue, gray);
}
.card:nth-child(4) {
  background-color: var(--color-very-dark-blackish-blue, black);
}
.card:nth-child(5) {
  background-color: var(--color-white, white);
  color: var(--color-very-dark-grayish-blue, black);
}
.avatar {
  display: grid;
  gap: var(--padding-med);
}
.avatar-info {
  display: flex;
  gap: 10px;
}
.avatar-img {
  border-radius: 50%;
  max-height: 33px;
}
.avatar-name {
  font-size: 0.75rem;
}
.avatar-status {
  font-size: 0.75rem;
  opacity: 50%;
}
.avatar-heading {
  line-height: 1.2;
}
.avatar .review {
  opacity: 70%;
}
